@import url(https://db.onlinewebfonts.com/c/073a3b73a63a87e100f6bb8f003fc0d3?family=Flexo-Demi);


/* <div class="poke-info">
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png">
  <p class="poke-id">#0001</p>
  <h2>Bulbasaur</h2>
  <ul class="type-flex">
    <li style="background: #9bcc50;">Grass</li>
    <li style="background: #b97fc9;">Poison</li>
  </ul>
</div>
<div class="poke-info">
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png">
  <p class="poke-id">#0004</p>
  <h2>Charmander</h2>
  <ul class="type-flex">
    <li style="background: #fd7d24;">Fire</li>
  </ul>
</div> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logs {
    font-family: var(--main-font);
    background: #FFFFFF;
}

:root {

    --main-font: "Flexo-Demi", arial, sans-serif;

}

body {
    background-color: #313131;
}

.main-sec {

    padding: 5rem 8rem 0 8rem;

}

.poke-box {
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 10px;
    min-height: 80vh;
}

.settings {

    margin: 0 auto 0 auto;

}


.poke-search {
    padding: 2rem;

}

.poke-search h1 {
    font-family: var(--main-font);
    font-size: 62px;
    text-shadow: 0 0 5px #EE1C23;

}

.poke-search input {
    padding: .7rem .2rem .7rem .2rem;
    font-size: 18px;
    border-radius: 8px;
    border: 3px solid #313131;
}

.poke-search #search-submit {
    font-family: var(--main-font);
    padding: .7rem .2rem .7rem .2rem;
    font-size: 18px;
    border-radius: 8px;
    border: 3px solid #313131;
    background-color: rgb(255, 163, 26);
    cursor: pointer;
}

.settings-wrapper {
    display: flex;
    gap: 2.8rem;
    padding: 2rem;
    position: relative;
}

.settings-wrapper li {
    list-style: none;

}

#sprite-set {
    font-family: var(--main-font);
    cursor: pointer;
    text-decoration: none;
    background: none;
    color: #EE1C23;
    border: none;
}

#sort-options li button {
    font-family: var(--main-font);
    cursor: pointer;
    color: #313131;
    width: 100%;

    padding: .6rem;

}

#sort-p {
    font-family: var(--main-font);
    cursor: pointer;
    text-decoration: none;
    color: #EE1C23;
}

#sort-options {
    position: absolute;
    top: 3.5rem;
    background-color: #123261c4;
    border-radius: 5px;
    flex-direction: column;
    z-index: 99;

    display: none;
}

#sort-options.active {

    display: flex;
}



.sort-hover {
    font-family: var(--main-font);
    cursor: pointer;
    color: #313131;
}






.poke-name {
    font-family: var(--main-font);
    font-size: 31px;

}

.poke-id {
    font-family: var(--main-font);
    font-size: 31px;

}

#poke-container {


    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 5px;
}

.poke-info {
    display: inline-grid;
    display: block;
    margin: 1rem auto auto auto;
    width: 200px;
    /* filter: grayscale(100%); */
    transition: all 0.3s ease;
}

.poke-info:hover {
    filter: grayscale(0%);
}




.poke-info img {
    width: 201px;
    height: 201px;
    background-color: rgb(167, 159, 148);
    border-radius: 5px;
    cursor: pointer;
}

.poke-info h2 {
    font-family: var(--main-font);
    font-weight: 400;
    color: #313131;
    font-size: 145%;
    overflow-wrap: break-word;
    word-break: break-all;




}


.poke-info .poke-id {
    font-family: var(--main-font);
    font-size: 12px;
    color: rgba(70, 70, 70, 0.747);
    font-weight: 700;
    margin-bottom: 1rem;
}



.type-flex {
    font-family: var(--main-font);
    display: flex;
    align-items: center;
}

.type-flex li {
    font-size: 11px;
    list-style: none;
    font-family: var(--main-font);
    border-radius: 3px;
    line-height: 18px;
    margin: 0 1.5625% 0 0;
    width: 75px;
    float: left;
    text-transform: none;
    text-align: center;
}

.loading {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loading img {
    width: 280px;
}

.loading h2 {
    font-family: var(--main-font);
}

footer {
    text-align: center;
    padding: 2rem 0;
    font-family: var(--main-font);
    font-size: 20px;
    color: rgb(70, 70, 70);
    background-color: antiquewhite;
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    display: none;
}

.load-button {
    font-family: var(--main-font);
    margin: 2rem 5rem 2rem auto;
    display: none;
    background: linear-gradient(180deg, #EE1C23 48%, #FFFFFF 48%);
    padding: 1rem;
    border: 3px solid #313131;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.load-button:hover {
    opacity: .8;
}



/* TAB */

#pokeInfos {
    margin: 5rem 8rem 0 8rem;

    background: antiquewhite;
    padding: 3rem;
    border-radius: 10px;
    min-height: 80vh;
    font-family: var(--main-font);
    display: flex;
   gap: 2.5rem;
}

.pokeHead {
    display: flex;
    flex-direction: column;
}

.pokeHead img {
    max-width: 320px;
    background: #31313167;
    border-radius: 12px;
}

.pokeHead h1 {
    font-size: 50px;
    color: #424242;
}

.pokeHead p {
    color: #575757;
    font-size: 25px;
}



.pokeDatas {
    display: flex;
    gap: 7rem;
}

.data1 h3 {
    margin-bottom: 1.5rem;

}

.data2 h3 {
    margin-bottom: 3.5rem;

}

.flexType {
    display: flex;
    gap: 5px;
}


#loadCounter {
    font-family: var(--main-font);
  
}










@media (max-width:1920px) {}

@media (max-width:1680px) {}

@media (max-width:1440px) {}

@media (max-width:1366px) {}


@media (max-width:1280px) {}

@media (max-width:1024px) {
    .main-sec {
        padding: 2.5rem;
    }

    #poke-container {
        grid-template-columns: repeat(4, auto);
    }
}



@media (max-width:912px) {
    .main-sec {
        padding: 1.5rem;
    }

    #poke-container {
        grid-template-columns: repeat(3, auto);
    }

}

@media (max-width:768px) {}

@media (max-width:640px) {
    #poke-container {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width:475px) {

    .main-sec {
        padding: .5rem;
    }

    #poke-container {
        grid-template-columns: repeat(1, auto);
    }

    .poke-search input {
        font-size: 15px;
    }

    .poke-search #search-submit {
        font-size: 14px;
    }

    .poke-info img {
        width: 250px;
        height: 250px;
    }

    .poke-info {
        width: 250px;
    }
}

@media (max-width:375px) {
    .main-sec {
        padding: 0;
    }

    #poke-container {
        grid-template-columns: repeat(1, auto);
    }



    .poke-search input {
        font-size: 13px;
    }

    .poke-search #search-submit {
        font-size: 14px;
    }


}

@media (max-width:320px) {}